.title {
  margin-top: 2%;
  font-size: 40px;
  color: #1835a7;

  text-align: center;
  -webkit-animation: title 1s ease-in-out infinite alternate;
  -moz-animation: title 1s ease-in-out infinite alternate;
  animation: title 1s ease-in-out infinite alternate;
}
.h5 {
  color: rgb(2, 2, 2);
  font-weight: 900;
}
.img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

@media screen and (max-width: 600px) {
  .img {
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
  border-radius: 50%;
}
.empty {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 50px;

  font-family: system-ui;
  font-weight: bold;
}

@keyframes title {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #ff4aa4, 0 0 50px #e60073, 0 0 60px #f50057, 0 0 70px #f50057;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #3f51b5, 0 0 40px #3f51b5,
      0 0 50px #3f51b5, 0 0 60px #3f51b5, 0 0 70px #3f51b5, 0 0 80px #3f51b5;
  }
}
